<!DOCTYPE html>
<html>

<head>
    <base href="<%= BASE_HREF %>" />
    <title>Simple Stream Transcriber</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
    <h1 class="page-title">Stream transcriber</h1>
    <div class="container">
        <input type="text" id="stream-url" value="https://radijas.lrt.lt/radijas/320k/lrt_radijas.m3u8"
            class="stream-input">
        <!-- https://stream-secure.lrt.lt/lrt_hd/stream05/streamPlaylist.m3u8 -->
        <!-- https://stream-secure.lrt.lt/plius/stream04/streamPlaylist.m3u8 -->
        <button id="start-button" class="start-button">Go</button>
        <button id="stop-button" class="stop-button">OK, stop</button>
        <video id="video" class="video-js vjs-default-skin stream-input" preload="none" crossorigin="true" controls
            width="640" height="50" controls></video>

    </div>
    <div class="container" id="transcriber" kaldi_url="<%= KALDI_URL %>">
        <div id="result-area" class="result-area"></div>
    </div>

    <div class="debug-container">
        <div class="panel-header" id="info-header">
            <div>Debug info</div>
        </div>
        <div class="panel-content-div" id="info-area">
        </div>
    </div>

    <footer>
        <p>&copy; 2023 Intelektika.lt. All rights reserved.</p>
    </footer>
</body>

</html>